.sidebar {
  min-width: 230px;
  color: white;
  height: 100vh;
  padding-left: 10px;
  padding-right: 10px;
  flex: 0.2;
  background-color: #040404;
}
.sidebar > img {
  margin-right: auto;
  padding: 10px;
  object-fit: contain;
  height: 50px;
}
.sidebar_title {
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
}
.sidebar > hr {
  border: 1px solid #282828;
  width: 90%;
  margin: 10px auto;
}
